<ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
    	<ion-buttons slot="primary">
			<ion-button (click)="closeModal()">
				<ion-icon color="danger" slot="icon-only" name="close-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles"
	      refreshingText="Refreshing...">
	    </ion-refresher-content>
	</ion-refresher>
	<ion-grid>
		<ion-slides #common_slide [options]=slideOpts>
			<ion-slide>
				<span *ngFor="let data of order_datas">
					<ion-row>
						<ion-col text-center>
							{{ data.name }} - {{ data.code }}			
						</ion-col>
					</ion-row>
				</span>
				<ion-card>
					<ion-row>
						<ion-col text-center style="font-weight: bold;">
							All Products
						</ion-col>
					</ion-row>
					<ion-row *ngFor="let product of products">
						<ion-col  (click)="selectProduct(product)" size="12" style="text-align: left"> 
							{{ product.code }} &nbsp; <ion-icon name="arrow-forward"  style="float: right"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-card>
					<ion-row style="font-weight: bold;font-size: 10px">
						<ion-col size="3">Date</ion-col>
						<ion-col size="4">Product</ion-col>
						<ion-col size="2">Qnty</ion-col>
						<ion-col size="3">Action</ion-col>
					</ion-row>
				</ion-card>
				<span *ngFor="let data of order_datas">
					<ion-card>
						<ion-list inset="false" lines="none">
							<ion-item-sliding *ngFor="let order_product of data.product">
								<ion-item  style="font-size: 12px;" (click)=acceptOrder(order_product.order_id)>
									<ion-row style="width: 100%">
											<ion-col size="3" style="font-size:small">{{ order_product.delivery_date | date:'dd-MMM' }}</ion-col>
											<ion-col size="4" style="font-size:12px ;">{{ order_product.product_code }}</ion-col>
											<ion-col size="2" style="font-size:small; text-align:right;">{{ order_product.quantity }}
												<span style="font-size: 8px">{{ order_product.unit | slice:0:3 }}</span>
											</ion-col>
											<ion-col size="3">
												<span *ngIf="order_product.order_status_id == 5"  (click)=acceptOrder(order_product.order_id)>
														<ion-icon style="font-size:20px;float: right;" name="exit"></ion-icon>
												</span>
												<span style="font-size: x-small;" *ngIf="order_product.order_status_id == 4">
													Confirmed
												</span>
												<span style="font-size: x-small;" *ngIf="order_product.order_status_id == 3">
													Cancelled
												</span>
											</ion-col>
									</ion-row>
								</ion-item>
								<ion-item-options side="start">
									<ion-button color="danger" (click)=cancelOrder(order_product.order_id)>	
										<ion-icon name="trash"></ion-icon>
									</ion-button>
								</ion-item-options>
								<ion-item-options side="end">
									<ion-button color="danger" (click)=cancelOrder(order_product.order_id)>
										<ion-icon name="trash"></ion-icon>
									</ion-button>
								</ion-item-options>
							</ion-item-sliding>
						</ion-list>
					</ion-card>
				</span>																								
			</ion-slide>
			<ion-slide>
				<ion-row>
					<ion-col size="2" (click)=slideForward(0)>
						<ion-button fill="clear" >
							<ion-icon name="arrow-back"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col text-wrap padding>
						{{ product_details }}
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="4">
						Quantity :
					</ion-col>
					<ion-col>
						<ion-input type="number" [(ngModel)]="quantity"></ion-input>
					</ion-col>
					<ion-col></ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="4">
						Date :
					</ion-col>
					<ion-col>
						<ion-datetime display-format="DD MMM YYYY" [min]="today" placeholder="Select date" [(ngModel)]="delivery_date">
						</ion-datetime>
					</ion-col>
					<ion-col></ion-col>
				</ion-row>
				<span *ngIf="product_details != null">
					<span *ngFor="let item of product_data[product_details]; let product_index=index;">
						<ion-row>
							<ion-col>
								<ion-item *ngIf="item.question_type == 'boolean-checkbox'" class="item-borderless">
									<ion-label style="font-weight: bold;">{{ item.question }}</ion-label>
									<ion-checkbox slot="end" [(ngModel)]="product_answer[product_index]['answer_data']"
									[checked]="false" >
									</ion-checkbox>
								</ion-item>
							</ion-col>
						</ion-row>
						<ion-row>	
							<ion-col>							
								<ion-item *ngIf="item.question_type == 'radio'" class="item-borderless">
									<ion-radio-group [(ngModel)]="product_answer[product_index]['answer_data']">
										<span>
											<ion-label style="font-weight: bold;">{{ item.question }}</ion-label>
										</span>
										<span *ngFor="let single_answer of item.default_answer"> 
											<ion-item class="item-borderless">
												<ion-label>{{ single_answer }}</ion-label>
												<ion-radio slot="end" [value]="single_answer"></ion-radio>
											</ion-item>
										</span>
									</ion-radio-group>
								</ion-item>
							</ion-col>
						</ion-row>
					</span>
				</span>
				<ion-row>
					<ion-col></ion-col>
					<ion-col>
						<ion-button (click)=storeAnswerData()>Save</ion-button>
					</ion-col>
					<ion-col></ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row>
					<ion-col size="2" (click)=slideForward(0)>
						<ion-button fill="clear" >
							<ion-icon name="arrow-back"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="4">
						Date :
					</ion-col>
					<ion-col>
						<ion-datetime display-format="DD MMM YYYY" [min]="today" placeholder="Select date" [(ngModel)]="final_delivery_date">
						</ion-datetime>
					</ion-col>
					<ion-col></ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label>Actual Quantity :</ion-label>
							<ion-input type="number" [(ngModel)]="actual_quantity"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item>
							<ion-label>Vessel Count :</ion-label>
							<ion-input type="number" [(ngModel)]="vessel_count"></ion-input>
						</ion-item>
					</ion-col>	
				</ion-row>
				<ion-row>
					<ion-col></ion-col>
					<ion-col text-center>
						<ion-button size="small" (click)=orderToSale(4)>Accept</ion-button>
					</ion-col>
					<ion-col></ion-col>
				</ion-row>
			</ion-slide>
		</ion-slides>
	</ion-grid>
</ion-content>
 