<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item *ngFor = "let customer of customer_datas">
		<ion-list>
			<ion-label>
				<h2>name : {{ customer.name }}</h2>	
			</ion-label>
<!-- 
			<ion-label>
				<h2>phone_number : {{ customer.phone_number }}</h2>	
			</ion-label>

			<ion-label>
				<h2>email : {{ customer.email }}</h2>	
			</ion-label>

			<ion-label>
				<h2>door_number : {{ customer.door_number }}</h2>	
			</ion-label>

			<ion-label>
				<h2>community : {{ customer.community }}</h2>	
			</ion-label>

			<ion-label>
				<h2>landmark : {{ customer.landmark }}</h2>	
			</ion-label>

			<ion-label>
				<h2>street : {{ customer.street }}</h2>	
			</ion-label>

			<ion-label>
				<h2>postal_code : {{ customer.postal_code }}</h2>	
			</ion-label>

			<ion-label>
				<h2>latitude : {{ customer.latitude }}</h2>	
			</ion-label>

			<ion-label>
				<h2>longitude : {{ customer.longitude }}</h2>	
			</ion-label>

			<ion-label>
				<h2>balance_amount : {{ customer.balance_amount }}</h2>	
			</ion-label>

			<ion-label>
				<h2>vessel_count : {{ customer.vessel_count }}</h2>	
			</ion-label> -->
			</ion-list>
	</ion-item>
</ion-content>
