<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-button class="button-primary" (click)=order_page()>order page</ion-button>
	<ion-button class="button-primary" (click)=customer_page()>customer page</ion-button>
	<ion-button class="button-danger" (click)=sale_page()>sale page</ion-button>
	<ion-button class="button-danger" (click)=payment_page()>payment page</ion-button>
	<ion-button class="button-danger" (click)=product_page()>product page</ion-button>
	<ion-button class="button-danger" (click)=tabs_page()>tabs page</ion-button>
</ion-content>
