
<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	</ion-buttons>
	<ion-title>Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles"
	      refreshingText="Refreshing...">
	    </ion-refresher-content>
	</ion-refresher>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
			<ion-fab-button mini (click)="newPayment()">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	<ion-list *ngFor="let data of payment_datas">
		<ion-card>
			<ion-row> 
				<ion-col style="text-align: center;font-weight: bold">
					<span style="text-transform: capitalize;">{{ data.customer_name }}</span> - {{ data.code }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6"  style="text-align: center;" [style.color]="balcheckout(data.balance_amount)"> 	
					<span style="font-weight: bold;">Balance : </span>{{ data.balance_amount }}
				</ion-col>
				<ion-col size="6" style="text-align: center;" [style.color]="checkVesselCount(data.vessel_count)">
					<span style="font-weight: bold;" >Vessel : </span>{{ data.vessel_count }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col style="text-align: center;">
					<ion-label style="font-weight: bold;">From</ion-label>
					<ion-datetime display-format="DD MMM YYYY" [(ngModel)]="start_date" ></ion-datetime>
				</ion-col>
				<ion-col style="text-align: center;">
					<ion-label style="font-weight: bold;">To</ion-label>
					<ion-datetime display-format="DD MMM YYYY" [(ngModel)]="end_date" ></ion-datetime>
				</ion-col>
				<ion-button size="small" (click)=ionViewWillEnter()>Go</ion-button>
			</ion-row>
			<ion-row>
				<ion-col style="text-align: right;">
					<span style="font-weight: bold;">Total Amount :</span>Rs. {{ data.total_amount | number: '.2' }}
				</ion-col>
			</ion-row>
			<ion-grid>
				<ion-row style="font-weight: bold;">
					<ion-col size="3" style="text-align: center;">Date</ion-col>
					<ion-col size="3">Payment Method</ion-col>
					<ion-col size="3">Payment Status</ion-col>
					<ion-col size="3">Amount</ion-col>
				</ion-row>
				<ion-list inset="false" lines="none">
					<ion-item-sliding *ngFor="let payment_data of data.payment_history">
						<ion-item>
							<ion-row  style="font-size: small;width: 100%">
								<ion-col size="3">{{ payment_data.date | date:'dd-MMM' }}</ion-col>
								<ion-col size="3">{{ payment_data.payment_method }}</ion-col>
								<ion-col size="3" text-wrap [style.color]="statusCheckout(payment_data.payment_status)">
									{{ payment_data.payment_status }}
								</ion-col>
								<ion-col size="3">{{ payment_data.amount | number: '.2' }}</ion-col>
							</ion-row>
						</ion-item>
						<ion-item-options side="end">
							<ion-button color="success" (click)=paymentAction(payment_data.payment_id,4)>
								<ion-icon name="checkmark-circle"></ion-icon>
							</ion-button>
							<ion-button color="danger" (click)=confirmDecline(payment_data.payment_id,5)>	
								<ion-icon name="trash"></ion-icon>
							</ion-button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-grid>
		</ion-card>
	</ion-list>
</ion-content>
