<ion-header>
	<ion-buttons slot="start">
    	<ion-back-button></ion-back-button>
    	<ion-toolbar>
		<ion-title>New Payment</ion-title>
	</ion-toolbar>
    </ion-buttons>
	
</ion-header>

<ion-content>
	<ion-grid>
		<form [formGroup]="paymentForm">
			<ion-row >
				<ion-col padding>
				Date :
				</ion-col>
				<ion-col>
					<ion-datetime display-format="DD MMM YYYY" placeholder="Select date" formControlName="date" required [min]="today"></ion-datetime>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col padding>
					<ion-label position="floating">Amount :</ion-label>
				</ion-col>
				<ion-col>
					<ion-input type="number"placeholder="Enter the amount" style="outline: 1px solid grey;height: 29px;
					width: 92%;" formControlName="amount" required></ion-input>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col padding>
					<ion-label>Payment method</ion-label>
				</ion-col>
				<ion-col>
					<ion-select placeholder="Select method" interface="popover" formControlName="payment_method" [(ngModel)]="type" required>
						<ion-select-option  *ngFor="let method of paymentmethod_datas" value="{{ method.id }}" >
							{{ method.name }}
						</ion-select-option>
					</ion-select>
				</ion-col>
			</ion-row>
				<ion-row *ngIf="type != 1">
					<ion-col padding>
						<ion-label position="floating">Reference Id :</ion-label>
					</ion-col>
					<ion-col>
						<ion-input type="text" placeholder="Enter the reference_id" style="outline: 1px solid grey; height: 29px;width: 122%; margin-left: -45px;"
						 formControlName="reference_id" required></ion-input>
					</ion-col>
				</ion-row>
			<ion-row >
				<ion-col text-center>
					<ion-button type="submit" (click)="addPayment()">add payment</ion-button>
				</ion-col>
			</ion-row>
		</form>
	</ion-grid>
</ion-content>
