<ion-header>
  <ion-toolbar>
    <ion-title>updatequote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-row>
		<ion-col>
			<h4 style="text-align:center">Product quote update page</h4>
		</ion-col>
	</ion-row>
	<ion-card>
		<ion-row *ngFor='let product of quote_datas; let quote_index=index;'>
			<ion-col padding>
				{{ product.product_code }}
			</ion-col>
			<ion-col>
				<ion-item>
					<ion-input [(ngModel)]="updated_amount[quote_index]"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col>
				<ion-button size="small" (click)="updateQuote(product.product_id, updated_amount[quote_index])">Update</ion-button>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
	